footer {
 color: white;
}

.jumbotron{
    
    margin-top:30px;
}

.btn {
    background-color: gray;
    color: white
}


footer {
    padding: 10px 10px 0 10px;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 10px 10px 2px;
}

.card-descripcion {
    padding: 2px 10px 10px 2px;
}

.btn-reserva {
    width: 100%;
}

.footer-address-icon {
    padding-right: 5px;
}

